.logo{
    width: 100px;
}
.container{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}


.nav-items ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}

.nav-items ul li {
    padding: 10px;
}

.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.size{
    width: 200px;
    height: 200px;
}
.card{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    color: rgb(122, 121, 121);
}

.card > img{
    width: 100%;
    border-radius: 10px;
}







.search{
    padding: 10px;
}

.wrap{
    word-wrap: break-word;
    text-shadow: -2px -2px #aeced5
}

.multiple{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.shimmer-card{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    height: 200px;
    background-color: lightgrey;
}